    @import url('https://fonts.googleapis.com/css?family=EB+Garamond:400,600,700i|Pacifico');
    .app-container {
        background-color: black;
        max-width: 100%;
        height: 100%;
    }
    
    html {
        height: 100%;
        font-family: 'Eb Garamond';
    }
    
    header {
        font-size: 22px;
        height: 50px;
        color: white;
        background-color: black;
        width: 100%;
        z-index: 3;
        font-family: 'Eb Garamond';
        font-weight: 400;
    }
    
    .page-container {
        width: 100%;
        height: 100%;
        position: relative;
        background-color: darkblue;
        z-index: 0;
        margin: 0;
        padding: 0;
    }
    
    .weather-area {
        height: 100%;
        width: 100%;
        background-color: black;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: absolute;
        right: 0;
        z-index: 0;
        opacity: .90;
        color: white;
    }
    
    .image {
        width: 100%;
        height: 100vh;
        z-index: -1;
        position: absolute;
        right: 10px;
        padding: 5px;
        background-image: url('https://i.pinimg.com/originals/61/07/b1/6107b156e0c55780d3bceb48ac55344c.gif');
    }
    
    .form-title {
        width: 400px;
        color: white;
        font-size: 25px;
        z-index: 4;
        position: absolute;
        top: -14px;
        opacity: 1;
        right: 55px;
    }
    
    button {
        width: 38px;
        height: 38px;
        border-radius: 40%;
        background-color: rgb(231, 199, 15);
        color: black;
        border: 2px solid;
        font-size: 16px;
        font-family: 'Eb Garamond';
        font-weight: 600;
        opacity: 1;
        z-index: 4;
        margin-left: 120px;
        position: absolute;
        right: 5px;
        top: 48px;
        text-align: center;
    }
    
    h1 {
        margin-left: 30px;
        font-size: 39px;
    }
    
    #actual-form {
        width: 63%;
        height: 180px;
        display: inline-flex;
        flex-direction: row-reverse;
        /* background-color: rgb(248, 248, 230); */
        position: absolute;
        right: 20px;
        /* box-shadow: 4px 2px 4px rgb(70, 43, 43); */
        top: -85px;
        color: white;
        opacity: 2;
    }
    
    input {
        width: 400px;
        height: 28px;
        position: relative;
        margin: 58px;
        margin-top: 50px;
        margin-left: 25px;
        border: 2px solid;
        font-size: 15px;
        font-weight: 400;
        display: flex;
    }
    
    .small-temp {
        padding-top: 20px;
        padding-left: 20px;
        line-height: .25em;
        text-shadow: 4px 1px darkblue;
    }
    
    #temp-number {
        font-size: 180px;
        margin: 5px;
        padding-left: 70px;
        color: white;
    }
    
    .results-displayed {
        display: block;
        margin: 35px;
    }
    /* .temp {
        font-size: 80px;
        background-color: white;
        position: absolute;
        top: 80px;
        z-index: 6;
        width: 300px;
        height: 300px;
    } */
    
    #description {
        padding: 15px;
        font-size: 30px;
        font-variant-caps: all-small-caps;
        text-shadow: 1px 3px darkmagenta;
    }
    
    #high-low-temps {
        font-size: 60px;
        padding: 40px;
    }
    
    .subtitle-line {
        display: inline-flex;
    }
    /*     
    .headshot {
        flex-shrink: 0;
        margin: 20px;
        height: calc(100px + 3vw);
        width: calc(100px + 3vw);
        border: calc(8px + 0.2vw) solid transparent;
        background-origin: border-box;
        background-clip: content-box, border-box;
        background-size: cover;
        box-sizing: border-box;
        box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
    }
    
    .img-1 {
        border-radius: 30%;
        background-image: black, linear-gradient(to top, #0fd850, #f9f047);
    }
    
    .img-2 {
        border-radius: 30%;
        background: black, linear-gradient(to top, #0fd850, #f9f047);
    }
    
    .button-area {
        display: flex;
        flex-direction: column;
        position: relative;
    } */
    
    .sayings {
        font-size: 50px;
        text-shadow: 2px 4px orangered;
    }
    
    .about-page {
        width: 100%;
        height: 100vh;
    }
    
    .info-box-background {
        margin: 20px;
        padding: 30px;
        background-color: white;
        opacity: .55;
        box-shadow: 2px 4px darkmagenta;
        width: 60%;
        height: 600px;
        background-image: url('https://media.giphy.com/media/Ta1MVGKCG2GFq/giphy.gif');
        font-size: 24px;
    }
    
    .link-area {
        margin-left: 40px;
        position: absolute;
        right: 80px;
        display: grid;
        flex-direction: row;
        font-size: 22px;
    }
    
    a ::before {
        color: white;
    }
    
    .about-words-section {
        line-height: .25em;
        position: absolute;
        top: 180px;
        left: 80px;
    }