* {
    margin: 0;
    padding: 10px;
}

body {
    display: grid;
    grid-template-columns: 200px 700px 200px;
    grid-template-rows: 333px 333px 333px 200px;
    grid-template-areas: H H H H, M M M M, F F F F;
}

.header {
    grid-area: H;
    background: red;
}

.main {
    grid-area: M;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.total-area {
    position: absolute;
    right: 400px;
    top: 400px;
}

.footer {
    grid-area: F;
    background: blue;
}