header {
    text-align: left;
    top-margin: 10px;
    bottom-padding: 1em;
    font-family: 'Bree Serif', serif;
    font-size: 50px;
    letter-shadowing: 10px 12px gray;
    letter-spacing: 1.25px;
}

.nav1 {
    font-size: 24px;
    text-align: center;
    color: orange;
    width: 1200px;
}


/* Dropdown Button */

.dropbtn {
    background-color: #D95D39;
    color: bluer padding: 16px;
    font-size: 26px;
    border: none;
    cursor: pointer;
}


/* Dropdown button on hover & focus */

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */

.show {
    display: block;
}

h2 {
    width: 1300px;
    height: 40px;
    background-color: #0B3954;
    color: white;
    text-align: center;
}

ul li {
    font-size: 18px;
    font-weight: bold;
    float: left;
    width: 600px;
    bottom-margin: 15px;
    padding: 10px;
}

.title {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

.deadline {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.btn-link {
    background-color: #D95D39;
    color: white;
}

.alert-box {
    position: relative;
    width: 350px;
    height: 250px;
    background-color: #0B032D;
    color: white;
    left: 1060px;
    font-size: 24px;
    font-family: Arial;
    text-align: center;
    box-shadow: 16px 12px gray;
}

.sch-list {
    float: left;
}

.apply {
    float: left;
}

.get {
    top-padding: 2em;
    float: center;
    font-weight: bold;
    font-family: Arial;
    font-size: 16px
}

.container1 {
    width: 1200px;
    height: 70px;
    grid-template: 800px / 200px;
}

.container2 {
    background-color: width: 800px;
    height: auto;
    grid-template: repeat(3 300px), 1fr 1fr 1fr;
}

.scholarship-container {
    position: absolute;
    top: 200px;
    width: auto;
    height: auto;
}


/*Calender styling*/

.ui-datepicker,
.ui-datepicker table,
.ui-datepicker tr,
.ui-datepicker td,
.ui-datepicker th {
    margin: 0;
    padding: 0;
    border: none;
    border-spacing: 0;
}

.ui-datepicker {
    display: none;
    width: 294px;
    padding: 35px;
    cursor: default;
    text-transform: uppercase;
    font-family: Tahoma;
    font-size: 12px;
    background: #141517;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 1px 1px rgba(255, 255, 255, .1), inset 0px 1px 1px rgb(0, 0, 0);
    -moz-box-shadow: 0px 1px 1px rgba(255, 255, 255, .1), inset 0px 1px 1px rgb(0, 0, 0);
    box-shadow: 0px 1px 1px rgba(255, 255, 255, .1), inset 0px 1px 1px rgb(0, 0, 0);
}

.ui-datepicker-header {
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
}

.ui-datepicker-title {
    text-align: center;
}

.ui-datepicker-month {
    position: relative;
    padding-right: 15px;
    color: #565656;
}

.ui-datepicker-year {
    padding-left: 8px;
    color: #a8a8a8;
}

.ui-datepicker-month:before {
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 5px;
    height: 5px;
    content: '';
    background: #a5cd4e;
    background: -moz-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a5cd4e), color-stop(100%, #6b8f1a));
    background: -webkit-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -o-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: -ms-linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    background: linear-gradient(top, #a5cd4e 0%, #6b8f1a 100%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.ui-datepicker-prev,
.ui-datepicker-next {
    position: absolute;
    top: -2px;
    padding: 5px;
    cursor: pointer;
}

.ui-datepicker-prev {
    left: 0;
    padding-left: 0;
}

.ui-datepicker-next {
    right: 0;
    padding-right: 0;
}

.ui-datepicker-prev span,
.ui-datepicker-next span {
    display: block;
    width: 5px;
    height: 10px;
    text-indent: -9999px;
    background-image: url(../img/arrows.png);
}

.ui-datepicker-prev span {
    background-position: 0px 0px;
}

.ui-datepicker-next span {
    background-position: -5px 0px;
}

.ui-datepicker-prev-hover span {
    background-position: 0px -10px;
}

.ui-datepicker-next-hover span {
    background-position: -5px -10px;
}