* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 800px;
    height: 800px;
}

label {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: space-evenly center;
    line-height: 0em;
    background-color: lightcyan;
}

input {
    width: auto;
    height: 30px;
    margin: 20px;
}

h3 {
    margin: 10px;
    color: teal;
}

h4 {
    text-align: center;
    font-size: 26px;
}

button {
    border: 1.5px black solid;
    width: 50px;
    height: 20px;
}

.delete {
    position: absolute;
    right: 515px;
}

.complete {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
}