* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    width: 800px;
    height: 800px;
}

form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    justify-content: space-evenly;
    line-height: 0em;
    background-color: lightcyan;
}

input {
    width: auto;
    height: 30px;
    margin: 20px;
}

h3 {
    margin: 10px;
    color: teal;
}

h4 {
    text-align: center;
    font-size: 26px;
}