@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed|Roboto+Slab');
html {
    background: url("https://i.imgur.com/5mWfxXo.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: Roboto;
    color: white;
    word-wrap: none;
}

.page-wrapper {
    position: relative;
}

.intro {}

.design-archives {
    width: 75%;
    height: 27.5rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    color: white;
}

.animation-container {
    background: darkmagenta;
    background-blend-mode: color-burn;
    opacity: 2%;
    width: 1000rem;
    height: 30rem;
}

@keyframes topFadeOut {
    0% {
        position: absolute;
        top: -3rem;
        opacity: 0;
    }
    75% {
        position: absolute;
        top: 25%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bottomFadeOut {
    0% {
        position: absolute;
        bottom: -5rem;
        opacity: 0;
    }
    75% {
        position: absolute;
        bottom: 25%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes topFadeOutVertical {
    0% {
        position: absolute;
        top: -3rem;
        opacity: 0;
    }
    75% {
        position: absolute;
        top: 45%;
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes rightFadeInOut {
    0% {
        position: absolute;
        right: -3rem;
        opacity: 0;
    }
    75% {
        position: absolute;
        right: 10rem;
        opacity: 1;
    }
    100% {
        opacity: 0;
        right: 10rem;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    100% {
        opacity: 0%;
    }
}

.main-title-animated-text {
    font-size: 4.4rem;
    position: absolute;
    left: 2.5rem;
    top: 5rem;
    opacity: 70%;
    animation-name: topFadeOut;
    animation-duration: 5s;
    color: white;
}

.main-subtitle {
    /* font-size: 3.4rem;
        position: absolute;
        top: 8.5rem;
        opacity: 0;
        animation-name: rightFadeInOut;
        animation-delay: 3s;
        animation-duration: 6s;
        color: #ccc; */
}

.summary {
    color: white;
}

.preamble {}

.main {}

.supporting {}

.explanation {}

.participation {}

.benefits {}

.requirements {}

.zen-validate-html {}

.zen-validate-css {}

.zen-license {}

.zen-accessibility {}

.zen-github {}

.sidebar {
    background: black fixed;
    background-blend-mode: color-burn;
    width: 600px;
    position: absolute;
    right: 0px;
    height: auto;
}

.wrapper {}

.design-selection {}

.select {}

.design-name {}

.designer-name {}

.design-archives {}

.archives {}

.next {}

.indicator {}

.previous {}

.viewall {}

.zen-resources {}

.resources {}

.view-css {}

.css-resources {}

.zen-faq {}

.zen-submit {}

.zen-translations {}

.extra1 {}

.extra2 {}

.extra3 {}

.extra4 {}

.extra5 {}

.extra6 {}

.proto-tool {}

.page {}

.fields {}

.region {}

.size1of6 {}