    * {
        margin: 0;
        padding: 0;
        max-width: 100%;
        height: auto;
    }
    
    body {
        box-sizing: border-box;
        display: block;
        position: relative;
        background-color: white;
        width: 100%;
    }
    
    .container {
        display: grid;
        grid-template-columns: repeat (3, 400px);
        grid-gap: 2px;
        object-fit: contain;
        width: 100%;
        height: 100vh;
    }
    
    figure {
        object-fit: contain;
        height: auto;
        display: grid;
    }
    
    h1 {
        font-size: 40px;
        text-shadow: 2px 4px rgb(102, 101, 101);
        text-align: center;
        font-family: Roboto;
        color: teal;
        letter-spacing: .15em;
        font-weight: bold;
    }
    
    .container>figure:nth-child(1) {
        background-image: url('https://i.imgur.com/1Fix83t.jpg');
        object-fit: contain;
        height: 300px;
    }
    
    .container>figure:nth-child(2) {
        background-image: url("https://i.imgur.com/mJYjQyf.jpg");
        object-fit: contain;
        height: 300px;
        background-repeat: no-repeat;
    }
    
    .container>figure:nth-child(6) {
        background-image: url("https://i.imgur.com/NJXJnzX.jpg");
        object-fit: cover;
        height: 400px;
        background-repeat: no-repeat;
        width: 100%;
    }
    
    .container>figure:nth-child(3) {
        background-image: url("https://i.imgur.com/Uh2kVs1.png");
        object-fit: contain;
        height: 350px;
    }
    
    .container>figure:nth-child(4) {
        background-image: url("https://i.imgur.com/SrRCffy.jpg");
        object-fit: contain;
        height: 600px;
        background-repeat: no-repeat;
    }
    
    .container>figure:nth-child(5) {
        background-image: url("https://i.imgur.com/KxGS2rb.jpg");
        object-fit: contain;
        height: 300px;
        background-repeat: no-repeat;
    }