
}
body{

}
form{

    height:auto;
    position:absolute;
}
h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}
input{
    width: 300px;
    height: 35px;
    border-bottom:1.5px black solid;

}
label{
    width:200px;
    height:600px;

}
.locations{
    font-family:Arial, Helvetica, sans-serif;
    font-weight:bold;
    font-size:20px;
}
h3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
button{
    background-color: darkmagenta;
    color:white;
    width:69px;
    height:25px;
    font-weight:bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
select{
    width:360px;
    height:30px;
    font-weight:bold;
    border: 1px black solid;
    display: inline-flex;
}
