html {
    max-width: 100%;
    max-height: auto;
    min-height: 100%;
    min-width: auto;
    position: relative;
}

body {
    background: black;
    color: rgb(216, 4, 4);
}

img {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;
    border: 4px double blue;
}

h2 {
    text-shadow: 2.25px 3px white;
}