@import url('https://fonts.googleapis.com/css?family=Cinzel:900');
html {
    background: url('https://i.imgur.com/v4K0PPC.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: black;
    font-size: 20px;
}

.container {
    border-radius: 4px;
    background-color: rgb(132, 178, 178 0.66);
    height: 90%;
}

h1 {
    padding: 20px;
    margin-top: 50px;
    text-align: center;
    font-family: 'Cinzel';
    color: rgb(1, 25, 25);
    font-weight: bold;
}

li {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

input {
    text-align: center;
    border: 2px solid teal;
    border-radius: 4px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: rgb(1, 39, 39);
}

button {
    border-radius: 4px;
    font-size: 15px;
    padding: 3px;
    font-family: 'Open Sans', sans-serif;
    background: orangered;
}

.input-box {
    text-align: center;
}

#btn {
    width: 80px;
}