* {
    margin: 0px;
    padding: 0px;
}

html {
    max-width: 100%;
    max-height: auto;
    min-height: 100%;
    min-width: auto;
    position: relative;
    z-index: 0;
}

body {
    object-fit: contain;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    background-image: url("https://i.imgur.com/sjCppdm.png");
    background-repeat: no-repeat;
    z-index: 1;
}

h1 {
    font-family: Arial;
    color: yellow;
    position: absolute;
    left: 290px;
    top: 300px;
}

.form {}

input {
    width: 200px;
    height: 20px;
}

button {
    width: 100px;
    height: 20px;
    color: white;
    background-color: darkblue
}

.input-fields {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    color: white;
    position: absolute;
    top: 340px;
    left: 475px;
    height: auto;
}

.submit {
    position: absolute;
    top: 345px;
    left: 340px;
    background-color: crimson;
    color: white;
}

.title-header {}

.description {}

.price {}

.imgURL {}

.todo-container {
    align-content: space-between;
    color: white;
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 415px;
    height: 300px;
    align-content: center;
    top: 495px;
    left: 275px;
    background-color: black;
    font-family: Arial;
}