html {
    height: 100%;
    height: 100vh;
    display: flex;
}

body {
    margin: auto;
    background: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: 55em;
    position: relative;
    overflow: hidden;
}

.svg {
    position: absolute;
    width: 100%;
    height: 100%;
}

.text {
    position: relative;
    width: 50%;
    color: #1e1e1e;
    text-shadow: 2px 4px rgb(10, 57, 57);
    font-size: 2.6rem;
    text-align: right;
    filter: url(#text);
    transition: background .25s ease-in;
    span {
        display: block;
        cursor: pointer;
        transition: background .2s ease-in;
        &:hover {
            background: orange;
        }
    }
}

.flood {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: url(#image);
    -webkit-clip-path: polygon(52% 0, 100% 0%, 100% 100%, 52% 100%);
    clip-path: polygon(52% 0, 100% 0%, 100% 100%, 52% 100%);
    &:hover {
        &+.text {
            background: teal;
        }
    }
}